h1 {
    /* font-family: 'Passions Conflict', cursive; */
    font-family: 'Great Vibes', cursive;
    font-size: 14em;
    font-weight: 400;
    margin: 2rem;
}

.container {
    text-align: center;
    margin: 6em 0 0 0;
    display: inline-block;
    height: 100%;
    vertical-align: top;
}

.side-image {
    display: inline-block;
}

.side-image img {
    height: 100vh;
}

p {
    font-size: 2.5em;
    margin: 1rem;
}

body {
    font-family: 'Lora', serif;
    font-weight: 400;
    color: #939894;
    margin: 0;
}

h2 {
    font-size: 5em;
    font-weight: 300;
    margin-top: 0;
}

.ps {
    margin-top: 4em;
    margin-bottom: 0;
    font-size: 1.8em;
    font-weight: 300;
}

#right-image {
    float: right;
}