h1 {
    /* font-family: 'Passions Conflict', cursive; */
    font-family: 'Great Vibes', cursive;
    font-size: 13em;
    font-weight: 400;
    margin: 2rem;
}

.container {
    text-align: center;
    margin: 3em auto 0 auto;
    display: inline-block;
    height: 100%;
    vertical-align: top;
}

.big-container {
    text-align: center;
    margin: 0 auto 0 auto;
}

.side-image {
    display: inline-block;
}

.side-image img {
    height: 100vh;
}

#left-image {
    float: left;
}

#right-image {
    float: right;
}

p {
    font-size: 2.5em;
    margin: 1rem;
}

body {
    font-family: 'Lora', serif;
    font-weight: 400;
    color: #708875;
    margin: 0;
    overflow: hidden;
}

h2 {
    font-size: 4.5em;
    font-weight: 300;
    margin-top: 0;
}

.ps {
    margin: 6em auto 0 auto;
    font-size: 2em;
    font-weight: 300;
    vertical-align: bottom;
}

.top-bottom-image {
    text-align: center;
    display: none;
}

.top-bottom-image img {
    text-align: center;
    width: 100vw;
}

@media (max-width: 500px) or (orientation: portrait) {
    .side-image {
        display: none;
    }

    .top-bottom-image {
        display: block;
    }

    body {
        font-size: 0.4em;
        overflow: scroll;
    }

    .ps {
        margin-bottom: 2em;
    }
}